.alert-management-list {
  .icon-critical {
    color: $red-800;
  }

  .icon-high {
    color: $red-600;
  }

  .icon-medium {
    color: $orange-400;
  }

  .icon-low {
    color: $orange-300;
  }

  .icon-info {
    color: $blue-400;
  }

  .icon-unknown {
    color: $gray-400;
  }

  // these styles need to be deleted once GlTable component looks in GitLab same as in @gitlab/ui
  table {
    color: $gray-700;

    tr {
      td,
      th {
        @include gl-p-5;

        &.event-count {
          @include gl-pr-9;
        }
      }

      th {
        background-color: transparent;
        font-weight: $gl-font-weight-bold;
        color: $gl-gray-600;
        @include gl-border-b-1;
        @include gl-border-b-solid;
        border-color: $gray-100;
      }

      &:last-child {
        td {
          @include gl-border-0;
        }
      }
    }
  }

  @include media-breakpoint-down(sm) {
    .alert-management-table {
      .table-col {
        min-height: 68px;

        &:last-child {
          background-color: $gray-normal;

          &::before {
            content: none !important;
          }

          div {
            width: 100% !important;
            padding: 0 !important;
          }
        }
      }
    }
  }
}
